<!DOCTYPE html>
<html>
      {{>head}}
      <body>
            <div class="main-content">
                  {{>header}}
                  <p>{{message404}}</p>
            </div>
      </body>
      {{>footer}}
</html>