<!DOCTYPE html>
<html>
      {{>head}}
      <body>
            <div class="main-content"> <!--creando una clase para tomar todo el espacio de la ventan, excepto el footer -->
                  {{>header}}
                  <h2>{{title}} </h2>

                  <p>This website was created by {{name}}, It uses data from WheaterStack.com and Mapbox.com 
                        to retrive the forecast for a given location
                  </p>
                  <img class="portrait" src="./images/coredata_perfil_facebook.jpg">
            </div>
            {{>footer}}
      </body>
      
</html>