<!DOCTYPE html>
<html>
      {{>head}}
      <body>
            <div class="main-content">
                  {{>header}}
                  <h2>{{title}} Page</h2>

                  <p>{{message}}</p>

            </div>
            
      </body>
      {{>footer}}
</html>